<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="openFirst()">
      <ion-icon color="light" slot="icon-only" name="menu"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div class="profile flex_center">
      <div class="profile_background"></div>
      <div class="profile_information flex_center">
        <div class="flex_center flex_direction">
          <img [src]="userAvatarUrl">
          <div class="profile_name">{{userInformation.usernickname}}</div>
        </div>
      </div>
      <div class="cover"></div>
    </div>
    <div class="panel">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <div class="flex_center flex_direction">
              <div class="digits">{{userInformation.userattention}}</div>
              <div>POINRTS</div>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="flex_center flex_direction">
              <div class="digits">{{userInformation.userfans}}</div>
              <div>FOLLOWERS</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="list" padding>
      <div class="flex_center if_none" *ngIf="isNone">
        <ion-label>You have not published any articles...</ion-label>
      </div>
      <ion-list *ngIf="!isNone">
        <ion-list-header>
        
        </ion-list-header>
        <ion-item *ngFor="let article of articles; index as i" routerLink="/viewer/{{article.articleid}}">
            <ion-thumbnail slot="start">
              <img [src]="articles_img[i]">
            </ion-thumbnail>
            <ion-label>
              <h3>{{article.articletitle}}</h3>
              <p>{{delHtmlTag(article.articlecontentshtml)}}</p>
            </ion-label>
          </ion-item>
      </ion-list>
    </div>

    <!--<nz-upload nzName="files" nzAction="http://localhost:8888/web/uploader/upload" (nzChange)="handleChange($event)">
      <button nz-button><i nz-icon nzType="upload"></i><span>Click to Upload</span></button>
    </nz-upload>-->
    
</ion-content>
