ion-content {
    height: 100%;
}

ion-header {
    position:absolute;
}
.profile {
    position: relative;
    height: 50%;
    width: 100%;
}

.hidden {
    visibility: hidden;
}

.profile_background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--ion-color-primary);
    z-index: 0;
}

.profile_information {
    width: 80%;
    z-index: 1;
}

.profile_information img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 1px solid #949599;

    
}

.cover {
    border-style: none;
    background-color: white;
    position: absolute;
    bottom: 0;
    border-top-right-radius:35%;
    border-top-left-radius: 35%;
    width: 100%;
    height: 20%;
    z-index: 1;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_direction {
    flex-direction: column;
}

.profile_name {
    text-align: center;
    margin-top: 1rem;
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
    width: 100%;
}
.panel {
    padding-left: 1rem;
    padding-right: 1rem;
}
.panel ion-grid {

    position: absolute; 
    z-index: 100; 
    left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: -30px; 
    background-color: white;
    @media screen and(min-width:768px) {
        margin-top: -60px; 
    }
    @media screen and(min-width: 1024px){
        margin-top: -30px;
    }
}

.digits {
    color: var(--ion-color-primary);
    font-weight: bolder;
}

.if_none {
    width: 100%; 
    height:200px;
    color: #949599;
}

ion-list-header {
    border-top:1px solid rgba(0,0,0,.3);	
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 1.2rem;
    font-weight: bolder;
}

.list {
    margin-top: 1rem;
}
