.text {
    height: 80%;
}

.margin_top {
    margin-top: 1rem;
}

.align_center {
    text-align: center;
}

.no_heighlight {
    --highlight-height:0;
}

.editor_content {
    color: #898989;
}

#editorContent {
    -webkit-user-select:text;
}

#editorTitle {
    -webkit-user-select:text;
}